body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background:  #e7f522;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  text-align: center;
  color: #4a90e2;
}
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about img {
  max-width: 200px;
  border-radius: 50%;
  margin: 20px;
}
.about div {
  flex: 1;
  padding: 20px;
}
.contact {
  text-align: center;
  margin-top: 20px;
}
.contact p {
  margin: 5px 0;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 25px;
  background-color:#333;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}
.button:hover {
  background-color:darkgreen;
}
.home button{
  border-radius: 5px;
  background-color: darkgreen;
  transition: background 0.3s;
  display: inline-block;
  color: white;
}
.home p{
  text-align: center;
}
.home button:hover {
   background-color: greenyellow;
   cursor: pointer;
}
a{
  text-decoration: none;
}
