body{
  font-family: Verdana;
  font-size: 2em;
}

#h
{
    font-size: 1.5em;
    color: brown;
   display: block;
   text-align: center;
   
}
#btncontainer
{
  text-align: center;
}
#r
{
 inline-size: 120px;
}
.bts
{
 background-color: rgb(88, 88, 138);
 color: white;
 border-radius: 1em;
 padding:1em;
 cursor: pointer;
 transition: background-color 1s;


}
.bts:hover
{
  background-color: rgb(6, 6, 153);
}
