body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.home p {
  text-align: center;
}

.home button {
  border-radius: 5px;
  background-color: #f3f717;
  transition: background 0.3s;
  display: inline-block;
}

.home button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

#my-works {
  padding: 50px 20px;
  background-color: #d4d239;
  text-align: center;
}

#my-works h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#my-works p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

#video-container {
  margin: auto;
  max-width: 800px;
}

#video-container video {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#cta {
  margin-top: 40px;
}

#cta p {
  font-size: 1.2em;
}

#cta a {
  color: #007BFF;
  text-decoration: none;
}

#cta a:hover {
  text-decoration: underline;
}
